---
import skull_logo from "../assets/skull_logo.png";
import game from '../pages/game.astro'
import Layout from "../layouts/Layout.astro";
---

<div id="container">
    <main>
        <section id="primary">
            <div>
                <div id="ascii-container"></div>
            </div>
            <section id="socials">
                <a href="https://bsky.app/profile/jbronson.bsky.social" aria-label="Visit my Bluesky profile">[bsky]</a>
                <a href="https://toot.community/@victorsmonster" aria-label="Visit my Mastodon profile">[mastodon]</a>
                <!--<a href="https://github.com/John-Bronson" aria-label="Visit my Github profile">[github]</a>-->
                <a href="https://pixelfed.social/victorsmonster" aria-label="Visit my PixelFed profile">[pixelfed]</a>
                <a href="mailto:jbronson@gmail.com" aria-label="Contact me via email">[email]</a>
            </section>
        </section>

    </main>
</div>

<style>
    #container {
        font-family: 'Ubuntu Mono', monospace; /* Use Ubuntu Mono */
        height: 100%;
        background-color: black;
    }

    main {
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    #ascii-container {
        color: gray;
        font-family: 'Ubuntu Mono', monospace;
        white-space: pre;
    }

    #socials {
        margin-top: 20px;
        width: 100%;
        color: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: monospace; /* Monospace font for the entire section */

        a:link, a:visited {
            color: #ddd9cc;
            text-decoration: none;
            font-weight: bold;
        }
    }

    #skull_logo {
        height: 500px;
        width: 500px;
    }

    @media (max-width: 930px) {
        #ascii-container {
            font-size: 12px;
        }


        #socials {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        #socials a {
            margin: 5px 0;
        }

        @media (max-width: 440px) {
            #ascii-container {
                font-size: 10px;
            }
        }
        @media (max-width: 360px) {
            #ascii-container {
                font-size: 8px;
            }
        }
    }
</style>

<script>
    import {init} from '../scripts/game.mjs'
</script>

<!--<script src="../scripts/skull.js"> </script>-->
<!--<script src="../scripts/game.mjs"> </script>-->